*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


header {
    background-color: rgb(220, 228, 232);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 25px;
    position: fixed;
    top: 0;

}

.logo-alas {
    height: 50%;
}

.nav, .lis{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    gap: 150px;
}

.lis {
    gap: 35px;
}

.lis a{
    color: rgb(69, 34, 34);
    font-weight: 900;
}


body { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
